.MuiIconButton-root {
  color: white;
}

.fadeNScale {
  animation-duration: 0.3s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57);
}

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.current__story {
  background-image: linear-gradient(#1a1a1a, #bbbbbb);
  display: flex;
  width: 300px;
  height: 96%;
  border-radius: 10px;
  flex-direction: column;
}

.current__story .current__story__header {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.current__story .current__story__header .current__story__progress__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current__story
  .current__story__header
  .current__story__progress__container
  .progress {
  display: flex;
  width: 100%;
  height: 2px;
  flex-grow: 1;
  border-radius: 4px;
  margin: 0 5px;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(88, 89, 104, 0.5) 50.001%,
    rgba(88, 89, 104, 0.5) 100%
  );
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 100% 50%;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}

.progress.progress__loading__start {
  animation-name: progressBarLoading;
}

.progress.progress__loading__passed {
  background-position: 0 0 !important;
}

.progress.progress__loading__remove {
  animation-play-state: paused !important;
  animation: none !important;
}
@keyframes progressBarLoading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.current__story .current__story__header .current__story__controls {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current__story
  .current__story__header
  .current__story__controls
  .current__story__option__btn__container {
  display: flex;
}

.current__story
  .current__story__header
  .current__story__controls
  .current__story__option__btn__container
  button {
  color: white;
  padding: 3px;
}

.current__story
  .current__story__header
  .current__story__controls
  .current__story__controls__user__info {
  display: flex;
  align-items: center;
}

.current__story
  .current__story__header
  .current__story__controls
  .current__story__controls__user__info
  img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.current__story
  .current__story__header
  .current__story__controls
  .current__story__controls__user__info
  span:first-of-type {
  color: white;
  font-weight: 500;
  font-size: small;
  margin-right: 10px;
}

.current__story
  .current__story__header
  .current__story__controls
  .current__story__controls__user__info
  span:last-of-type {
  color: lightgray;
  font-weight: 400;
}

.current__story .current__story__body {
  display: flex;
  flex: 1 1;
  mask-image: linear-gradient(180deg, #000, transparent);
}

.current__story .current__story__body img {
  object-fit: contain;
  display: flex;
  width: 100%;
}

.current__story .current__story__body video {
  border-radius: 0;
  width: 100%;
  height: 400px;
}

.current__story .current__story__footer {
  display: flex;
  padding: 10px 15px;
}

.current__story .current__story__footer input {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px;
  color: white;
}

.current__story .current__story__footer input::placeholder {
  color: white;
  font-size: medium;
  font-weight: bold;
  font-weight: lighter;
}

.current__story .current__story__footer input:focus {
  outline: none;
}

.current__story .current__story__footer button {
  color: white;
  transform: rotate(-30deg);
}

@media only screen and (max-width: 1100px) {
  .current__story {
    height: 50%;
  }
  .current__story .current__story__body video {
    border-radius: 0;
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .current__story {
    width: 160px;
    height: 70%;
  }

  .current__story .current__story__body video {
    height: 240px;
  }
}

@media only screen and (max-width: 400px) {
  .current__story {
    width: 120px;
  }
  .current__story
    .current__story__header
    .current__story__controls
    .current__story__controls__user__info {
    white-space: nowrap;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 300px) {
  .current__story {
    width: 80px;
  }
}
