.stories {
  height: 100vh;
  background-image: linear-gradient(black, #1a1a1a);
  padding: 0;
  margin: 0;
  display: flex;
}

.stories .stories__prev__stories__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.stories__btn span img {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.stories .stories__prev__stories__container .stories__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  width: 100%;
  margin-bottom: 35px;
  position: relative;
  left: 35px;
}

.stories .stories__prev__stories__container .stories__container button {
  border: none;
  background: #808080;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  position: relative;
  right: 25px;
}

.stories .stories__prev__stories__container .stories__container button:hover {
  opacity: 0.6;
  width: 50px;
  height: 50px;
  font-size: xx-large;
  cursor: pointer;
}

.stories .stories__prev__stories__container .stories__container button:focus {
  outline: none;
  border: none;
}

.stories .current__story__container {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
}

.stories .stories__next__stories__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}

.stories .stories__next__stories__container .stories__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
  margin-bottom: 35px;
  position: relative;
  right: 35px;
}

.stories .stories__next__stories__container .stories__container button {
  border: none;
  background: #808080;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  position: relative;
  left: 25px;
  z-index: 1;
}

.stories .stories__next__stories__container .stories__container button:hover {
  opacity: 0.6;
  width: 50px;
  height: 50px;
  font-size: xx-large;
  cursor: pointer;
}

.stories .stories__next__stories__container .stories__container button:focus{
  border: none;
  outline: none;
}

@media only screen and (max-width: 1000px) {
  .stories
    > .stories__prev__stories__container
    > .stories__container
    > .sub__story:first-child {
    display: none;
  }

  .stories
    > .stories__next__stories__container
    > .stories__container
    > .sub__story:last-child {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .stories .stories__prev__stories__container .stories__container button {
    width: 40px;
    height: 40px;
  }

  .stories .stories__next__stories__container .stories__container button {
    width: 40px;
    height: 40px;
  }
}
