.post {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 25px 0;
  cursor: pointer;

  .post__header__container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:first-of-type {
      display: flex;
      align-items: center;

      span {
        font-size: small;
        font-weight: 500;
        margin-left: 10px;
      }
    }

    div:last-of-type {
      font-size: larger;
      font-weight: bolder;
      position: relative;
      top: -5px;
    }
  }

  .post__media__container {
    div:first-of-type {
      .carousel .slide {
        background: black;
      }

      .carousel-root .carousel .thumbs-wrapper {
        display: none;
      }

      .media {
        height: 500px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to cover the entire container */
        object-fit: contain;
        border-radius: 0;
      }
    }
  }
}
