.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 13%;
  right: 13%;
  left: 65%;
}

.sidebar .sidebar__nav__account__container {
  display: flex;
  align-items: center;
}

.sidebar .sidebar__nav__account__container > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid lightgray;
}

.sidebar .sidebar__nav__account__container > div {
  margin-left: 10px;
}

.sidebar .sidebar__nav__account__container > div > p {
  margin: 0;
}

.sidebar .sidebar__nav__account__container > div > p:first-child {
  font-size: small;
  font-weight: bold;
}

.sidebar .sidebar__nav__account__container > div > p:last-child {
  color: gray;
}

.sidebar .sidebar__nav__account__container > span {
  margin-left: auto;
  font-weight: 600;
  font-size: small;
  color: #0095f6;
  cursor: pointer;
}

.sidebar .side__suggest__friend__list__container {
  margin-top: 20px;
}

.sidebar .side__suggest__friend__list__container > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
}

.sidebar
  .side__suggest__friend__list__container
  > div:first-child
  > span:first-child {
  font-size: 16px;
  font-weight: 500;
  color: #8e8e8e;
}

.sidebar
  .side__suggest__friend__list__container
  > div:first-child
  > span:last-child {
  font-size: small;
  font-weight: 500;
}

.sidebar .side__suggest__friend__list__container .sidebar__suggest__friend {
  display: flex;
  padding: 5px 0;
}

.sidebar
  .side__suggest__friend__list__container
  .sidebar__suggest__friend
  > div {
  margin-left: 10px;
}

.sidebar
  .side__suggest__friend__list__container
  .sidebar__suggest__friend
  > div
  > p {
  margin: 0;
}

.sidebar
  .side__suggest__friend__list__container
  .sidebar__suggest__friend
  > div
  > p:first-child {
  font-size: small;
  font-weight: bold;
}

.sidebar
  .side__suggest__friend__list__container
  .sidebar__suggest__friend
  > div
  > p:last-child {
  color: gray;
  font-size: x-small;
}

.sidebar
  .side__suggest__friend__list__container
  .sidebar__suggest__friend
  > span {
  margin-left: auto;
  font-weight: 600;
  font-size: small;
  color: #0095f6;
  cursor: pointer;
}

.sidebar .sidebar__footer {
  margin-top: 30px;
}

.sidebar .sidebar__footer > div {
  display: block;
  width: 80%;

  line-height: 0.9;
  margin-bottom: 10px;
}

.sidebar .sidebar__footer > div > span {
  font-size: 12px;
  color: lightgray;
  /* font-weight: 500; */
  padding-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
