.story__thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  cursor: pointer;
}

.story__thumbnail .story__avatar__container {
  background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  border-radius: 50%;
  border-width: 3px;
  display: flex;
}

.story__thumbnail .story__avatar__container > img {
  width: 55px !important;
  height: 55px;
  border-radius: 50%;
  margin: 2px;
  border: 2px solid white !important;
}

@media only screen and (max-width: 600px) {
  .story__thumbnail .story__avatar__container > img {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    margin: 2px;
    border: 2px solid white !important;
  }
}

.story__thumbnail > p {
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0;
  width: 66px;
}
