.each-fade {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: center;
}

.story__thumbnail__list {
  margin-top: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  z-index: 0;
}
@media only screen and (max-width: 600px) {
  .story__thumbnail__list {
    margin-top: 10px;
    border-radius: 0;
    padding: 15px 0;
  }

  .each-fade {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
}

.each-fade::-webkit-scrollbar {
  width: 0;
}
